{% extends 'base.html' %}

{% load static %}

{% block title %}
  Create New Acc
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<style type="text/css">
  .product_title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1em;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .cart-table {
    min-width: 480px;
    font-size: 14px;
  }
  .cart-thead {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #f8f9fa !important;
  }
  .cart-icon {
    text-decoration: none;
    color: #868e96;
  }
  .product_title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 15px;
    padding-bottom: 10px;
  }
</style>


  <div class="">
    {% if not form.is_valid %}
      <div class="">
        <br>
        <h1 class="product_title text-center">
          Create new account
        </h1>
        <br>
        <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-light ">
          <br>
          <p>Please input following information to create a new account</p>
          <form method="post">
              {% csrf_token %}
              <p>{{ form | crispy }}</p>
              <button type="submit" name="button" class="btn btn-secondary">SignUp</button>
          </form>
        </div>
      </div>
    {% else %}
    <div class="mx-auto">
      <br>
      <h1 class="product_title text-center">
        Your account has been successfully created
      </h1>
      <br>
      <div>
        <p>Your account has benn created and ready to use!</p>
        <br>
        <a href="{% url 'home' %}">Continue shopping</a>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
